<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="banner-library">
        <div class= "heading-tagline">
        <h1>Welcome to Stefan's Books</h1>
        <h2>Please explore functionality via the links below</h2>
        </div>
        <a href="{{ url_for('library') }}" class="btn-green">Library</a>
        <a href="{{ url_for('add_book') }}" class="btn-green">Add Book</a>
    </div>


</body>
</html>