<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="banner-heading">
    <h1>Stefan's Books</h1>
    </div>
        <div class="banner-backdrop">

            <div class="text-center">
                <h2>Welcome to Stefan's Books</h2>
                <h3>Please explore functionality via the links below</h3>
            </div>

            <div class="container-flex-links">
                <a href="{{ url_for('library') }}" class="btn-black">Library</a>
                <a href="{{ url_for('add_book') }}" class="btn-black">Add Book</a>
            </div>

        </div>


</body>
</html>