<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <title>Library</title>
</head>
<body>
    <div class="banner-heading">
    <h1>Stefan's Books</h1>
    </div>
    <div class="banner-backdrop">
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <h4>Title</h4>
            </div>
            <div class="col-sm">
                <h4>Author</h4>
            </div>
            <div class="col-sm">
                <h4>Published Year</h4>
            </div>
          </div>
        </div>
    {% for book in lib %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
                <p>{{ book.title }}</p>
            </div>
            <div class="col-sm">
                <p>{{ book.author }}</p>
            </div>
            <div class="col-sm">
                <p>{{ book.year }}</p>
            </div>
          </div>
        </div>

<!--        <h2>{{ book.title }}</h2>-->
<!--        <p> By {{ book.author }} in {{ book.year }}</p>-->
    {% endfor %}

    </div>
</body>
</html>